torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
omegaconf
regex
einops
scipy
inplace_abn
opencv-python
numpy==1.26.4
pillow==10.2.0
facenet-pytorch
pytorch_lightning
transformers
open-clip-torch==2.16.0
flash-attention